{% extends 'index.html'%}
{% load static %}
{% get_static_prefix as dir %}



 {% block content %}

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-25 pt-25" style="background-image: url({{dir}}assets/images/inner-banner.jpg);">
        <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url({{dir}}assets/images/shape8.png);"></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h1 class="mb-3">Blog</h1>
                    <p class="pt-1 white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                   
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <section class="trending pt-6 pb-0 bg-lgrey">
        <div class="container">
            <div class="row">
                <h2 class="mb-1">Our Blog</h2>
                <p class="pt-1 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="recent-articles-inner">
                <div class="row">
                <div class="col-lg-4">
                <div class="trend-item box-shadow bg-white mb-4 rounded">
                <div class="trend-image">
                <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                </div>
                <div class="trend-content-main p-4">
                    <div class="entry-author pb-2">
                        <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                        <span class="blog-heading">Sollmond Nell</span>
                        <div class="rating pr-1">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        </div>
                <div class="trend-content">
              
                 
                <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                </p>
                <div class="entry-meta d-flex align-items-center justify-content-between">
                
                <div class="entry-button d-flex align-items-center">
                <a href="#" class="nir-btn">Read More</a>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="trend-item box-shadow bg-white mb-4 rounded">
                    <div class="trend-image">
                    <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                    </div>
                    <div class="trend-content-main p-4">
                        <div class="entry-author pb-2">
                            <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                            <span class="blog-heading">Sollmond Nell</span>
                            <div class="rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            </div>
                    <div class="trend-content">
                  
                    
                    <p class="mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                    <div class="entry-meta d-flex align-items-center justify-content-between">
                    
                    <div class="entry-button d-flex align-items-center">
                    <a href="#" class="nir-btn">Read More</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="trend-item box-shadow bg-white mb-4 rounded">
                        <div class="trend-image">
                        <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                        </div>
                        <div class="trend-content-main p-4">
                            <div class="entry-author pb-2">
                                <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                                <span class="blog-heading">Sollmond Nell</span>
                                <div class="rating pr-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                </div>
                        <div class="trend-content">
                      
                     
                        <p class="mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        </p>
                        <div class="entry-meta d-flex align-items-center justify-content-between">
                        
                        <div class="entry-button d-flex align-items-center">
                        <a href="#" class="nir-btn">Read More</a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                </div>
                <div class="row pt-3">
                    <div class="col-lg-4">
                    <div class="trend-item box-shadow bg-white mb-4 rounded">
                    <div class="trend-image">
                    <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                    </div>
                    <div class="trend-content-main p-4">
                        <div class="entry-author pb-2">
                            <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                            <span class="blog-heading">Sollmond Nell</span>
                            <div class="rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            </div>
                    <div class="trend-content">
                  
                     
                    <p class="mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </p>
                    <div class="entry-meta d-flex align-items-center justify-content-between">
                    
                    <div class="entry-button d-flex align-items-center">
                    <a href="#" class="nir-btn">Read More</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="trend-item box-shadow bg-white mb-4 rounded">
                        <div class="trend-image">
                        <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                        </div>
                        <div class="trend-content-main p-4">
                            <div class="entry-author pb-2">
                                <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                                <span class="blog-heading">Sollmond Nell</span>
                                <div class="rating pr-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                </div>
                        <div class="trend-content">
                      
                        
                        <p class="mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        </p>
                        <div class="entry-meta d-flex align-items-center justify-content-between">
                        
                        <div class="entry-button d-flex align-items-center">
                        <a href="#" class="nir-btn">Read More</a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="trend-item box-shadow bg-white mb-4 rounded">
                            <div class="trend-image">
                            <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                            </div>
                            <div class="trend-content-main p-4">
                                <div class="entry-author pb-2">
                                    <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                                    <span class="blog-heading">Sollmond Nell</span>
                                    <div class="rating pr-1">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    </div>
                            <div class="trend-content">
                          
                         
                            <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            </p>
                            <div class="entry-meta d-flex align-items-center justify-content-between">
                            
                            <div class="entry-button d-flex align-items-center">
                            <a href="#" class="nir-btn">Read More</a>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-lg-4">
                        <div class="trend-item box-shadow bg-white mb-4 rounded">
                        <div class="trend-image">
                        <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                        </div>
                        <div class="trend-content-main p-4">
                            <div class="entry-author pb-2">
                                <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                                <span class="blog-heading">Sollmond Nell</span>
                                <div class="rating pr-1">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                </div>
                        <div class="trend-content">
                      
                         
                        <p class="mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        </p>
                        <div class="entry-meta d-flex align-items-center justify-content-between">
                        
                        <div class="entry-button d-flex align-items-center">
                        <a href="#" class="nir-btn">Read More</a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="trend-item box-shadow bg-white mb-4 rounded">
                            <div class="trend-image">
                            <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                            </div>
                            <div class="trend-content-main p-4">
                                <div class="entry-author pb-2">
                                    <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                                    <span class="blog-heading">Sollmond Nell</span>
                                    <div class="rating pr-1">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    </div>
                            <div class="trend-content">
                          
                            
                            <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            </p>
                            <div class="entry-meta d-flex align-items-center justify-content-between">
                            
                            <div class="entry-button d-flex align-items-center">
                            <a href="#" class="nir-btn">Read More</a>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="trend-item box-shadow bg-white mb-4 rounded">
                                <div class="trend-image">
                                <img src="{{dir}}assets/images/blog/blog-1.jpg" alt="image">
                                </div>
                                <div class="trend-content-main p-4">
                                    <div class="entry-author pb-2">
                                        <img src="{{dir}}assets/images/testimonial/img2.jpg" alt="" class="rounded-circle me-1">
                                        <span class="blog-heading">Sollmond Nell</span>
                                        <div class="rating pr-1">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        </div>
                                <div class="trend-content">
                              
                             
                                <p class="mb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                </p>
                                <div class="entry-meta d-flex align-items-center justify-content-between">
                                
                                <div class="entry-button d-flex align-items-center">
                                <a href="#" class="nir-btn">Read More</a>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                        </div>
                </div>
        </div>
    </section>

  


   
  

   
{% endblock %}